<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>293512845883-pa0jl4bglalgf0d46cqniq3cdrrhf23h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293512845883-pa0jl4bglalgf0d46cqniq3cdrrhf23h</string>
	<key>API_KEY</key>
	<string>AIzaSyBb8q4pLbFh4TrdsNYdM_NULZVM0ibR3ro</string>
	<key>GCM_SENDER_ID</key>
	<string>293512845883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gzanella.Alert</string>
	<key>PROJECT_ID</key>
	<string>alert-development-417bb</string>
	<key>STORAGE_BUCKET</key>
	<string>alert-development-417bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:293512845883:ios:ab3e327dd82c6845</string>
	<key>DATABASE_URL</key>
	<string>https://alert-development-417bb.firebaseio.com</string>
</dict>
</plist>